<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>


<td><%= line_item.product.title %></td>

<td>
  <%= link_to fa_icon("minus-square"), line_item_reduce_path(:id => line_item),
              style: "color: #70a2ff; font-size: 110%;",
              method: :post,
              title: 'Уменьшить количество' %>

  <%= line_item.quantity %>

  <%= link_to fa_icon("plus-square"), line_item_add_path(:id => line_item),
              style: "color: #70a2ff; font-size: 110%;",
              method: :post,
              title: 'Увеличить количество' %>

</td>

<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>

<td><%= link_to fa_icon("times-circle"), line_item_path(line_item),
                style: "color: #f44336; font-size: 110%;",
                method: :delete,
                data: {confirm: 'Вы уверены?'},
                title: 'Удалить позицию' %></td>
</tr>


