<div class="list">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <h1>Интернет-магазин CSG Service</h1>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>
        <div class="entry">
          <%= image_tag(product.image_url) %>
          <h3><%= product.title %></h3>

          <div class="price_line">
            <%= sanitize(product.description) %>
            <br>
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to '', line_items_path(product_id: product), class: 'button_cart',
                          title: 'Добавить в корзину', remote: true %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <br>
  <p><%= link_to 'Админпанель', products_path %></p>
  <p><%= link_to 'Корзина', carts_path %></p>
</div>

