<!DOCTYPE html>
<html>
<head>
  <title>CSG Service 2020</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "CSG Service" %>
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="">Главная</a></li>
      <li><a href="">Вопросы</a></li>
      <li><a href="">Новости</a></li>
      <li><a href="">Контакты</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
