<!DOCTYPE html>
<html>
<head>
  <title>CSG Service 2020</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application" %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
</head>

<body class="<%= controller.controller_name %>">

<div id="banner">
  <%= @page_title || "CSG Service" %>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <% unless @cart.line_items.empty? %>
        <%= hidden_cart(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% else %>
        <p>Ваша корзина пустая.</p>
      <% end %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="side2">
  </div>
</div>
</body>
</html>
